@model Mobilya

	<div class="alert alert-info">
	<p><b>Id:</b> @Model.Id</p>
	<p><b>Ad</b> @Model.Ad</p>
	<p><b>Fiyat:</b> @Model.Fiyat</p>
	<p><b>HamMadde:</b> @Model.HamMadde</p>
	<p><b>Uretici:</b> @Model.UreticiAd</p>
	<p><b>Stok:</b> @Model.Stok</p>
	<p><b>Açıklama:</b> @Model.Aciklama</p>
	</div>

	<div>
		<a class="btn btn-dark" style="margin-bottom:10px" href="/Mobilya/Index">Mobilya Listeleme Sayfası</a>
	</div>